.menu {
  --border-width: 2px;
  border-top: 10px solid black;
}

.menu-items {
  display: flex;
}

.hidden-menu-items {
  display: none;
}

.hidden-menu-items.expanded {
  position: absolute;
  z-index: 1;
  background-color: #ffffff;

  display: flex;
  flex-wrap: wrap;
}

.hidden-menu-items > * {
  flex: 1 0 auto;
}

.menu-item {
  border: var(--border-width) solid grey;
  border-top: none;
  margin-left: calc(-1 * var(--border-width));
}

.menu-item:first-child {
  margin-left: 0;
}

.menu-link {
  display: block;
  padding: 10px 20px;

  color: inherit;
  text-decoration: none;
}

.menu-link:hover {
  text-decoration: underline;
}

.more-btn {
  position: relative;

  background-color: pink;
  padding: 10px 20px;

  font-weight: 700;
  font-size: inherit;
}

.more-btn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.more-btn::after,
.more-btn::before {
  margin-left: 5px;
}

.more-btn::after {
  content: 'v';
}

.more-btn.expanded::after {
  content: '^';
}
