@import url('./reset.css');
@import url('./fonts.css');
@import url('./dropdown.css');
@import url('./mobilemenu.css');

body {
  font-size: 18px;
  font-family: "Oxygen";
  line-height: 1.4;
}

.content {
  padding: 50px;
}

.content > * {
  display: flex;
  gap: 50px;

  margin-bottom: 100px;
}
