body {
  padding: 50px;
}

.content {
  display: flex;
  gap: 50px;
}

.drop-down {
  --main-color: #a3e635;
  --hover-color: white;
  --text-color: #0a0a0a;
  --border-width: 2px;
  --border-color: #0a0a0a;
  --border: var(--border-width) solid var(--border-color);

  position: relative;
  color: var(--text-color);
  background-color: var(--main-color);
}

.drop-down-title {
  font-weight: 600;
  padding: 10px 30px;
  border: var(--border);

  position: relative;
  z-index: 100;

  transition: background-color 0.2s ease;
}

.drop-down-options {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: var(--main-color);

  transition: transform 0.6s, opacity 0.3s;
}

.drop-down-option {
  margin: calc(-1 * var(--border-width)) 0;
  padding: 5px 0;
  border: var(--border);
}

.drop-down-title:hover,
.drop-down-option:hover {
  cursor: pointer;
  background-color: var(--hover-color);
}

.drop-down-option:hover {
  outline: 1px solid var(--border-color)
}

.drop-down.hidden .drop-down-options {
  opacity: 0;
  transform: translate(0, -50%) scale(0);
}
